body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

h1,
h2 {
    text-align: center;
    margin-bottom: 10px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

.inline-options {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.inline-options label {
    margin-top: 0;
    margin-right: 10px;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}